@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.sticky-search {
  position: sticky;
  top: 0;
  z-index: 10;
  height: 100vh; 
  width: 300px;
  background-color: rgb(41, 103, 62);
  border-right: 1px solid #ccc; 
}

.news-item {
  width: calc(100% - 2rem);
  background-color: rgba(233, 225, 225, 0.92); 
  color: black; 
}

.news-item h3 {
  font-weight: bold; 
  font-size: 18px; 
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.profile-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}